@import "tailwindcss";

@font-face {
    font-family: 'fk-grotesk-neue';
    src: url('./assets/fonts/FKGroteskNeue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fk-grotesk-neue {
    font-family: 'FKGroteskNeue', sans-serif;
}

header ul li {
    @apply p-3 text-[14px] font-bold text-[#5d6d7e] hover:text-[#2C3E50] hover:cursor-pointer hover:underline hover:decoration-[#f5d7e3] hover:underline-offset-8;
}

nav ul li{
    @apply py-2 px-5 m-3 hover:bg-[#d5f2e3]  hover:rounded-4xl text-[14px] font-medium text-[#5d6d7e] hover:text-[#2C3E50] hover:cursor-pointer;
}