@import "tailwindcss";
@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.candle-float {
  animation: float 4s ease-in-out infinite;
}

.candle {
  background-image: url("assets/images/candleImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 64px;
}
