@import "tailwindcss";

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

header ul li {
    @apply p-3 backdrop-blur-2xl text-[14px] font-bold text-[#5d6d7e] hover:text-[#2C3E50] hover:cursor-pointer hover:underline hover:decoration-[#f5d7e3] hover:underline-offset-8;
}